<!DOCTYPE html>
<html ng-app="appPessoa">
<head>
<meta charset="UTF-8" />
<title>Tela de cadastro de pessoas</title>
<link rel="stylesheet"
	  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	  crossorigin="anonymous">
<script	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script>
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script src="./js/app.js"></script>
</head>
<body ng-controller="indexController">
	<fieldset class="border p-2">
		<legend>Cadatrado de pessoas</legend>
		<form class="col-md-4">
			<div class="form-group row">
				<label for="nome" class="col-sm-2 col-form-label">Nome: </label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.nome" id="nome"	class="form-control" required />
				</div>
			</div>
			<div class="form-group row">
				<label for="rua" class="col-sm-2 col-form-label"> Rua: </label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.rua" id="rua" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="numero" class="col-sm-2 col-form-label">Número:
				</label>
				<div class="col-sm-10">
					<input type="number" ng-model="pessoa.numero" id="numero" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="bairro" class="col-sm-2 col-form-label">Bairro:
				</label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.bairro" id="bairro" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="cidade" class="col-sm-2 col-form-label">Cidade:
				</label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.cidade" id="cidade" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="estado" class="col-sm-2 col-form-label">Estado:
				</label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.estado" id="estado" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="telefone" class="col-sm-2 col-form-label">Celular:
				</label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.celular" id="celular" class="form-control" />
				</div>
			</div>
			<div class="form-group row">
				<label for="telefone" class="col-sm-2 col-form-label">Telefone:
				</label>
				<div class="col-sm-10">
					<input type="text" ng-model="pessoa.telefone" id="telefone" class="form-control" />
				</div>
			</div>
		</form>
	</fieldset>

	<input type="button" class="btn btn-outline-primary" value="salvar" ng-click="salvarPessoa() " />
	</br>
	<h3 class="border p-2">Pessoas cadastradas</h3>

	<table class="table" id="tabelaDePessoas" style="">
		<tr>
		<tr>
			<th scope="col">ID</th>
			<th scope="col">Name</th>
			<th scope="col">Rua</th>
			<th scope="col">Número</th>
			<th scope="col">Bairro</th>
			<th scope="col">Cidade</th>
			<th scope="col">Estado</th>
			<th scope="col">Celular</th>
			<th scope="col">Telefone</th>
			<th scope="col"></th>
		</tr>
		<tr ng-repeat="cli in pessoas">

			<td>{{cli.id}}</td>
			<td>{{cli.nome}}</td>
			<td>{{cli.rua}}</td>
			<td>{{cli.numero}}</td>
			<td>{{cli.bairro}}</td>
			<td>{{cli.cidade}}</td>
			<td>{{cli.estado}}</td>
			<td>{{cli.celular}}</td>
			<td>{{cli.telefone}}</td>
			<td><input type="button" class="btn btn-outline-primary" value="remover" ng-click="removerPessoa(cli)" /></td>
		</tr>
	</table>
</body>
</html>